body{
    background-color: #343435;
}

header h1{
    padding-top: 10px;
    font-size: 200%;
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

.container{
    padding-top: 200px;
    text-align: center;
    font-size: 170%;
}

.title{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.current_time, code {
    font-family: 'Bungee Spice', cursive;
}